*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body { 
  margin:0px; 
  padding:0px; 
}
/* css affecting nav-bar*/
nav{
  display: flex;
  position:sticky;
  padding: 20px 0px 20px 100px;
  align-items: center;
  background-color: #247ba0;
}


.img-holder img{
  width: 100px;
  height: 100px;
  margin-right: auto;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
.links{
  margin-left: auto;
  display:flex; 
  padding: 0px 100px 0px 0px
}

.explanation{
  color: #f1f1f1;
}
a{
  text-decoration: none;
  color:#f1f1f1;
  font-size: 1.8rem;
  padding:10px; 
}

/*css for hero section*/
 #info{
  background-color: #247BA0;
}
.example{
  padding: 50px 100px 40px 100px;
  display:flex ;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  font-style: light;
  margin: 10px;
}
.explanation p{
  font-size: 2rem;
  line-height: 130%;
}
/*css for toolset*/
#tool{
  padding: 80px 0px;
}
  .drawer{
    margin: auto;
    padding: 10px 50px;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .elements,.settings, .attributes {
     background-color: #CCCCCC;
   
  }
  .elements{
    flex-shrink: 0;
    flex-grow: 0;
  }

.anti-tool{
  display:flex;
  flex-direction: column;
  gap:16px;
  flex: 1;

}
/*css for canvases*/
.canvas-holder {
    position: relative;
    text-align: center;
    width: 100%;
    aspect-ratio:calc(1/1);
}

canvas {
    position: absolute;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto; 

}

/*css for input area*/
.input-label{
    font-size: 1.5rem;
    color: #444;
}
.input-holder{
    font-size: 1.3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
.input-label,.input-holder{
    margin: 20px;

}
#value-string{
    flex: 2;
    width: 100%;
    padding: 8px 28px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    font-size: 1.8rem;
    outline: none;
}
#value-string:focus{
    background-color: #247BA0;
    color:  #E5E5E5;
    font-size: 1.8rem;
    border:none;
}
#value-string:focus::placeholder{
    color:#f1f1f1;
}
#init{
    border: none;
    border-radius: 3px;
    font-size: 1.8rem;
    background-color: #247BA0;
    color: #f1f1f1;
    padding: 8px 28px;
}
#init:hover {
    background-color: #011627;
  }
  
/* css for settings area and colapsibles*/
h3{
  color: #444;
  margin: 20px;
  padding:18px 18px 18px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2.5rem;
}
.collapsible {
    background-color: #777;
    color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.7rem;
    border-radius: 0px;
  }
.buttons{
    margin: 20px;
}
  .active, .collapsible:hover {
    background-color: #555;
  }

.setting{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.mutables:last-child{
  margin-bottom: 5px;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #CCCCCC;}


label{
    font-size: 1.5rem;
    color: #444;
    padding: 4px;
}

h4{
  color:#444;
  font-weight: lighter;
  margin: 5px 0px;
  padding: 2px 0px;
  font-size: 1.7rem;
  width: 100%;
  border-bottom: 3px #999 solid;
  border-radius: 1px;
}

.button-holder{
    display:flex;
    align-items: center;
    gap: 3px;
}
button{
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    background-color: #247BA0;
    color: #f1f1f1;
    padding: 8px 28px;

}

button:hover{
  background-color: #1B6382
}

.button-off{
  background-color: #011627;
  
}
.button-off:hover{
  background-color: #01101E;
}
input:disabled{
  opacity: .3;
}
input:disabled+label {
  opacity: .3;
}


input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 3rem;
    padding: 0;
    width: 3rem;
  }

  input[type="color"]::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
  }

  input[type="color"]::-moz-color-swatch {
    border-radius: 3px;
    border: none;
  }
.color{
  padding-bottom: 10px;
}
  #color-holder{
    
    border-radius: 1px;
    padding: 5px 0px 20px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }
  
  
  input[type="range"]:focus {
    outline: none;
  }
  
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #555;
    border-radius: 0.5rem;
    height: .5rem;
  }
  

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -4.8px; 
    background: #247BA0;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    background-color: #011627;
  }
  
  
  input[type="range"]::-moz-range-track {
    background-color: #555;
    border-radius: 0.5rem;
    height: .7rem;
  }
  

  input[type="range"]::-moz-range-thumb {
    background-color: #247ba0;
    border: none; 
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #247BA0;
    outline-offset: 0.125rem;
  }

  .selected{
    background-color: #011627;
    border:2px #247BA0 solid;
    color: #247BA0;
  }
  .selected:hover{
    background-color:#011627;
    color:#f1f1f1;
    border: 2px #f1f1f1 solid;

  }

  /* styling for the graph attributes section */

.content p{
    color:#555;
    margin: 0px 0px 10px 20px;
    font-size: 1.8rem; 
    font-style: light;
  }
.content p:first-of-type{
margin-top: 10px;
}
.content p:last-of-type{
    margin-bottom: 20px;
  }
.content div:last-of-type{
  padding-bottom: 3px;
}

  span:not(:empty){
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px
  }

footer{
  background-color: #011627;
  color:#f1f1f1;
}
address{
  margin-left: auto;
  margin-right: auto;
  padding: 60px
}
  